.commentCardWrapper{
    width: 100%;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.175);
}
.commentCardBodyWrapper{
    display: flex;
}
.commentImg{
    width: 32px;
    height: 32px;
}
.commentContentImg{
    width: 150px;
    height: 120px;
}
.commentCardBodyBottomWrapper{
    display: flex;
    justify-content: space-between;
}
