html,
body {
    height: 100% !important;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #f3f3f3 !important;
}
div#root {
    height: 100% !important;
}
a {
    text-decoration: none !important;
    color: #fff !important;
}
img {
    max-width: 100%;
}
main {
    min-height: 100% !important;
    position: relative !important;
}
li {
    list-style-type: none;
}
h1,
h2,
h3,
h4 {
    margin-bottom: 0px;
}
a {
    text-decoration: none !important;
}
.custom-btn {
    background: #D76826;
    color: #fff;
    font-weight: 500;
    padding: 12px 35px;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 30px;
    display: inline-block;
}
.custom-btn:hover {
    background: transparent;
    color: #fff;
}
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
    color: #D76826!important;
}
.nav-link {
    color: #000 !important;
}
footer {
    position: absolute;
    width: 100%;
}
.text-justify {
    text-align: justify;
}
.spinner-color{
  color: #D76826 !important;
}
.btn{
    color: #fff !important;
    background-color: #D76826 !important;
    border: 1px solid #D76826 !important;
}
.btn:hover {
    color: #fff !important;
    background-color: transparent !important;
    border: 1px solid #D76826 !important;
}
.registerHeading{
  color: #D76826;
  font-size: 30px;
  font-weight: 700;
}
.form-check-input:checked {
  background-color: #D76826 !important;
  border-color: #D76826 !important;
}
.form-check-input:focus {
  border-color: #D76826 !important;
  outline: 0;
  box-shadow: 0 0 0 0.1rem #D76826 !important;
}
.form-control:focus {
    color: #000 !important;
    border-color: #D76826 !important;
    outline: 0;
    box-shadow: 0 0 0 0.1rem #D76826 !important;
}
.form-control {
    border: 1px solid #D76826 !important;
}
.Typewriter__wrapper{
    color: #D76826;
}
.Typewriter__cursor{
    color: #D76826;
}